.navbar.navbar-expand-lg.bg-secondary
{
    background: rgb(114,18,115);
    background: -moz-linear-gradient(0deg, rgba(114,18,115,0.8995973389355743) 18%, rgba(69,11,144,1) 89%);
    background: -webkit-linear-gradient(0deg, rgba(114,18,115,0.8995973389355743) 18%, rgba(69,11,144,1) 89%);
    background: linear-gradient(0deg, rgba(10, 62, 205, 0.9) 18%, rgba(69,11,144,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#721273",endColorstr="#450b90",GradientType=1);
    height: 10vh;
    width: 100vw;
}


.list-group-item{
    background-color: transparent;
    border-color:transparent;
    color:#212529;
}
i.fa-brands.fa-linkedin.fa-xl:hover{
    color:white;
}
i.fa-brands.fa-github.fa-xl:hover
{
    color:white !important
}
i.fa-brands.fa-linkedin.fa-xl
{
    color:#212529;
}
i.fa-brands.fa-github.fa-xl{
    color:#212529
    }
    h1.intro{ 
        margin-right: 2%;
        font-size: calc(2.9rem + 1.5vw);
        color:#d027d3;
        font-family: 'Bell MT';
        margin-top: 1%;
        margin-left: 60%; } 
    .foto
    {  height:30vh;
         width:13vw;
         margin-top:3%;
       } 
 .Desa
 {
    color:#3ce9f3;
    font-size: calc(2.2rem + 1.4vw);
   margin-top: -15%;
   margin-bottom: 15%;
   margin-left: 6%;
 }
.nombre{
    margin-top: 3%;
    color:#3ce9f3; 
    font-size: (1rem + 1.2vw);
}

 .acerca
       {
       margin-left: 17%;
      margin-bottom: 6%;
       }

 h2.intro{
         color:rgb(202 15 233); 
        font-size: calc(1.5rem + 1.4vw);
        font-family: 'Bradley Hand ITC';
        
    }

 h4.Desc
   { font-family: 'Gill Sans MT';
    font-size: calc(1.10rem + 0.5vw);
    color:#277dd3; 
    margin-top: 2%;
   }

   .Laboral{
    margin-top:6%;
    margin-left:9%;  
    }

     
    h2.Laboral

    {  font-family: 'Bradley Hand ITC';
         color:rgb(202 15 233); 
         padding-bottom:-4%;
        font-size: calc(1.5rem + 1.4vw);}
     h3.Laboral
        {
            color:gray;
             
            font-family: 'Gill Sans MT' ;
            font-size: calc(1.5rem + 0.1vw);
             }
    P.Laboral

      {  font-family: 'Gill Sans MT';
        font-size: calc(1.10rem + 0.5vw);
        color:#277dd3;
     
      margin-top:2%;}
      
   
    .Educación{
        margin-top:9%;
        margin-left:9%;  

       }
       h2.Educación
       {  font-family: 'Bradley Hand ITC';
         color:#d027d3;
         margin-top:1%;
         font-size: calc(1.5rem + 1.4vw);
 }
  P.Educación
  {  font-family: 'Gill Sans MT';
    font-size: calc(1.10rem + 0.5vw);
    color:#277dd3;
    padding-bottom: -9;
   
}
  
body{
    background-image:  url(../../assets/img/col.jpg);
    background-size: cover;
}
